.full {
	position: absolute;
	inset: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: black;
}

.cursorPreview {
	display: none;
	position: absolute;
	background: black;
	z-index: 6;
	text-align: center;
	color: white;
	font-size: 10px;
}

.canvas {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 20%;
	width: 70%;
}

.layerHolder {
	position: absolute;
	background: rgb(32, 32, 32);
	overflow: scroll;
	right: 0;
	top: 0;
	bottom: 20%;
	width: 30%;
	color: rgb(210, 210, 210);
	font-family: "Courier New", Courier, monospace;
}

.header {
	background: rgb(55, 55, 55);
	text-align: center;
	font-size: 12px;
}

.header div,
.header a {
	display: inline-block;
	padding: 4px;
	margin: 4px;
	color: rgb(210, 210, 210);
	cursor: pointer;
}

.time {
	position: absolute;
	background: rgb(55, 55, 55);
	right: 0;
	left: 0;
	bottom: 0;
	height: 20%;
	width: 100%;
	overflow-x: hidden;
}

.timelineTrack {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 2px;
	background: rgb(100, 100, 100);
	transform: translateY(-50%);
}

.timelineCursor {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background: red;
}

.timeDisplay {
	position: absolute;
	bottom: 5px;
	left: 5px;
	color: white;
	font-size: 12px;
}

.timelineCanvas {
	width: 100%;
	height: 100%;
}
