.full {
	background: black;
	height: 100%;
	inset: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
}

.cursorPreview {
	background: black;
	color: white;
	display: none;
	font-size: 10px;
	position: absolute;
	text-align: center;
	z-index: 6;
}

.canvas {
	bottom: 20%;
	left: 0;
	position: absolute;
	top: 0;
	width: 70%;
}

.layerHolder {
	background: rgb(32 32 32);
	bottom: 20%;
	color: rgb(210 210 210);
	font-family: "Courier New", Courier, monospace;
	overflow: scroll;
	position: absolute;
	right: 0;
	top: 0;
	width: 30%;
}

.header {
	background: rgb(55 55 55);
	font-size: 12px;
	text-align: center;
}

.header div,
.header a {
	color: rgb(210 210 210);
	cursor: pointer;
	display: inline-block;
	margin: 4px;
	padding: 4px;
}

.time {
	background: rgb(55 55 55);
	bottom: 0;
	height: 20%;
	left: 0;
	overflow-x: hidden;
	position: absolute;
	right: 0;
	width: 100%;
}

.timelineTrack {
	background: rgb(100 100 100);
	height: 2px;
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.timelineCursor {
	background: red;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 2px;
}

.timeDisplay {
	bottom: 5px;
	color: white;
	font-size: 12px;
	left: 5px;
	position: absolute;
}

.timelineCanvas {
	height: 100%;
	width: 100%;
}
