.section-button {
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}
.section-button--primary {
    color: white;
    background-color: #1ea7fd;
}
.section-button--secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.section-button--small {
    font-size: 12px;
    padding: 10px 16px;
}
.section-button--medium {
    font-size: 14px;
    padding: 11px 20px;
}
.section-button--large {
    font-size: 16px;
    padding: 12px 24px;
}
/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section-button {
        @apply font-sans font-bold border-0 rounded-full cursor-pointer inline-block leading-none;
        font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial,
            sans-serif;
    }
    .section-button--primary {
        @apply text-white bg-blue-500;
    }
    .section-button--secondary {
        @apply text-gray-800 bg-transparent;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
    }
    .section-button--small {
        @apply text-xs px-4 py-2.5;
    }
    .section-button--medium {
        @apply text-sm px-5 py-2.75;
    }
    .section-button--large {
        @apply text-base px-6 py-3;
    }
} */
